<div class = "container d-flex flex-column justify-content-center">


    <div class = "row">
        <div class = "col-4"></div>
        <div class = "col-4 d-flex flex-row justify-content-center">
            <img src = "/assets/images/cute-burger.jpg" alt="burger" height="100" width="100">
        </div>
        <div class = "col-4"></div>

    </div>
    
    <div class = "row space"></div>
    <div class = "row space"></div>




    <div class = "row">
        <div class = "col-12">
            <h1 class = "text-center">Eat Da Burger!</h1>
        </div>
    </div>

    <div class = "row space"></div>

    <div class = "row space"></div>

    <!-- Table -->
    <div class = "row d-flex flex-row justify-content-around">

        <div class = "col-4 border border-info">

            <!-- Table Title -->
            <div class = "row bg-info text-light">
                <h5 class = "ml-3 mt-1">Burgers to Eat</h5>
            </div>
            
            <!-- Table -->
            <table class = "table table-sm">

                <!-- Table headings -->
                {{!-- <thead>
                    <tr>
                        <th scope = "col" class = "small font-weight-bold">Train Name</th>
                        <th scope = "col">Destination</th>
                        <th scope = "col">Frequency (min)</th>
                        <th scope = "col">Next Arrival</th>
                        <th scope = "col">Minutes Away</th>
                    </tr>
                </thead> --}}
    
                <!-- Table Entries -->
                <tbody id = "table-body">

                    <!-- Test entries. Enable if you want to see how they look. -->

                    <!-- <tr>
                        <td>testname</td>
                        <td>testrole</td>
                        <td>startdate</td>
                        <td>months</td>
                        <td>rate</td>
                        <td>total</td>
                    </tr>
    
                    <tr>
                        <td>name2</td>
                        <td>role2</td>
                        <td>startdate2</td>
                        <td>months2</td>
                        <td>rate2</td>
                        <td>total2</td>
                    </tr> -->

                    {{#each burgers}}
                    <tr>
                        <td>
                            <button data-id="{{this.id}}" class = "eatBurger">Eat!</button>
                        </td>
                        <td class = "burger-id">{{this.id}}</td>
                        <td class = "burger-name">{{this.burger_type}}</td>
                    </tr>

                    {{/each}}

                </tbody>

            </table>

            
        </div>
    </div>


    {{!-- <div class = "row">
        <div class = "col-5">
            <div class = "burger-container">asdfsd</div>
        </div>

        <div class = "col-2"></div>

        <div class = "col-5">
            <div class = "burger-container">asdf</div>
        </div>
    </div> --}}

    <div class = "row space"></div>

    <div class = "row space"></div>

    {{!-- <div class = "row">
        <div class = "col-4"></div>
        <div class = "col-4">
            <div class = "form-group">
                <label for = "burger-box">Enter a burger!</label>
                <textarea class = "form-control" rows = "3" id = "burger-box"></textarea>
            </div>
        </div>
        <div class = "col-4"></div>
    </div> --}}

    <div class = "row" id = "new-burger">
        <form class = "mx-auto">
            <div class = "form-group">
                <label for = "burger-box">Enter a burger!</label>
                <textarea class = "form-control" rows = "3" cols = "40" id = "burger-box"></textarea>
            </div>
            <button type = "submit" class = "btn btn-primary">Submit</button>
        </form>
    </div>



    
</div>