.burger-container {
    /* height: 500px; */
    height: 300px;
    /* background-color: red; */
    border: 1px solid black;
}

.red-bg {
    background-color: red;
}

.space {
    margin-bottom: 20px;
}